{% extends 'courseinfo/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <h2>About</h2>
        <p>Course Bench is a comprehensive platform designed to enhance the learning experience for students and
            instructors. Our mission is to provide a user-friendly, efficient, and engaging environment for both
            students and instructors to find, review, and manage courses. With Course Bench, students can access a vast
            array of courses offered by various institutions, along with detailed information about each course, such as
            course descriptions, prerequisites, and instructor profiles. Our platform allows students to search for
            courses based on their interests, academic goals, or specific course criteria. Furthermore, students can
            read and write reviews for instructors , courses and sections , helping them make informed decisions when
            choosing courses. Instructors benefit from Course Bench as well. In addition, Course Bench allows
            instructors to receive valuable feedback from students, which can help them improve their teaching methods
            and course materials.
    </div>
</div>
{% endblock %}
