{% extends 'courseinfo/base.html' %}

{% block title %}
    Instructor List
{% endblock %}

{% block create_button %}
    {% if perms.courseinfo.add_instructor %}
        <a
                href="{% url 'courseinfo_instructor_create_urlpattern' %}"
                class="button button-primary">
            Create New Instructor</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Instructor List</h2>
    <form method="get" class="search-form">
        {{ search_form.as_p }}
        <select name="order_by" onchange="this.form.submit();">
            <option value="-instructor_score" {% if order_by == "-instructor_score" %}selected{% endif %}>Sort by Score</option>
            <option value="alphabetical" {% if order_by == "alphabetical" %}selected{% endif %}>Sort Alphabetically</option>
        </select>
        <button type="submit" class="button button-primary">Search</button>
    </form>
    {% if perms.courseinfo.add_instructor %}
        <div class="mobile">
            <a
                    href="{% url 'courseinfo_instructor_create_urlpattern' %}"
                    class="button button-primary">
                Create New Instructor</a>
        </div>
    {% endif %}
    <ul>
        {% for instructor in instructor_list %}
            <li>
                <a href="{{ instructor.get_absolute_url }}">
                    {{ instructor }} (Score: {{ instructor.instructor_score }})</a>
            </li>
        {% empty %}
            <li><em>There are currently no instructors available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}



